[submodule "library"]
	path = library
	url = https://github.com/SylviaZhang211/LibraryApplication-java8
[submodule "security"]
	path = security
	url = https://github.com/SylviaZhang211/SpringSecurity-java8.git
[submodule "university"]
	path = university
	url = https://github.com/SylviaZhang211/UniversityCountryAPI
